body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
}

.header {
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer7.png);
  width: 1600px;
  height: 800px;
}

nav {
  text-align: center;
  padding: 20px 0;
}

.nav-text {
  display: inline;
}

a {
  line-height: 10px;
  padding: 0px 53px 0 53px;
  color: black;
  text-decoration: none;
}

section {
  background-color: rgb(247, 247, 247);
  text-align: center;
  padding: 120px 200px 0px 200px;
  width: 1600px;
  height: 470px;
  box-sizing: border-box;
}

.grid-container1 {
  display: grid;
  width: 1600px;
  height: 1800px;
  grid-template-columns: 533.33px 533.33px 533.33px;
  grid-template-rows: 600px 600px 600px;
  text-align: center;
}

.grid-container2 {
  display: grid;
  width: 1600px;
  height: 1800px;
  grid-template-columns: 266.66px 266.66px 266.66px 266.66px 266.66px 266.66px;
  grid-template-rows: 300px 300px;
}

.item1 {
  grid-column: 1 / span 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer10.png);
  width: 1066.66px;
  height: 600px;
  background-repeat: no-repeat;
  padding: 240px;
}

.item2 {
  grid-column: 3;
  width: 533.33px;
  height: 600px;
}

.item3 {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding: 70px 50px 0px 50px;
}

.item4 {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer12.png);
  width: 1066.66px;
  height: 600px;
  background-repeat: no-repeat;
  padding: 240px 0;
}

.item5 {
  grid-column: 1;
  grid-row: 3;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer15.png);
  width: 533.33px;
  height: 600px;
  background-repeat: no-repeat;
  padding: 240px 0;
}

.item6 {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  padding: 70px 50px 0px 50px;
}

.item7 {
  grid-column: 3;
  grid-row: 3;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer14.png);
}

.item-text {
  align-items: center;
  padding: 70px 50px 0px 50px;
}

.item-img {
  padding: 400px, 0;
}

.headline {
  display: inline;
}

.item8 {
  grid-column: 1;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer19.png);
}

.item9 {
  grid-column: 1 / span 2;
  grid-row: 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer20.png);
  background-repeat: no-repeat;
}

.item10 {
  grid-column: 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer21.png);
}

.item11 {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer22.png);
}

.item12 {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer25.png);
}

.item13 {
  grid-column: 5 / span 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer23.png);
  position: relativ;
  z-index: -2;
}

.item13:after {
  background-color: rgb(100, 194, 158);
  position: absolute;
  display: block;
  content: "";
  height: 600px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}

.item14 {
  grid-column: 5;
  grid-row: 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer24.png);
  background-repeat: no-repeat;
}

.item15 {
  grid-column: 6;
  grid-row: 2;
  background-image: url(https://raw.githubusercontent.com/Marvelous-Maddie/velo/master/img/Layer26.png);
}
